{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">

            <img class="rounded-circle article-img"
                 src="{{ url_for('static',filename='profile_pics/'+ current_user.user_profile.profile_image) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"
                       href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.created_at.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
                <div class="">
                    <img src="{{ url_for('static',filename='images/'+ post.image_file) }}">
                </div>

                <div>
{#                    {% if condition %}#}
{#                        <a href="{{ url_for('posts.dislike_post', post_id=post.id) }}" style="color: brown"><i class="fa fa-thumbs-down">disLike</i></a>#}
{#                    {% else %}#}
{#                        <a href="{{ url_for('posts.like_post', post_id=post.id) }}"><i class="fa fa-thumbs-up">Like</i></a>#}
{#                    {% endif %}#}

                    {% if post.id in likes %}
                            <a class="like-button unlike" id="unlike_{{ post.id }}"
                               href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}">
                                <i class="fa fa-thumbs-up" style="color: red"></i></a>
                    {% else %}
                            <a class="like-button like" id="like_{{ post.id }}"
                               href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}">
                                <i class="fa fa-thumbs-up" style="color: #333333"></i></a>
                    {% endif %}
                </div>
            </div>
        </article>


    {% endfor %}
{% endblock content %}


